<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>minifURL</h1>
    <form action="" method="post">
      <label for="fullurl">Url</label>
      <input type="url" name="fullurl" id="fullurl" />
      <button type="submit">minifyIt</button>
    </form>
  </body>
</html>
